<mjml>

  <mj-head>

    <mj-title>Account Verification</mj-title>

    <mj-font href="https://fonts.googleapis.com/css?family=Staatliches" name="Staatliches"></mj-font>
    <mj-font href="https://fonts.googleapis.com/css?family=Outfit" name="Outfit"></mj-font>
    <mj-font href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" name="Source Sans Pro"></mj-font>
    
    <mj-style inline="inline">
      .header-section td {
        padding-bottom: 0 !important;
        font-family: Staatliches, 'Google Sans'; 
        color: white; 
        font-size: 1.4rem; 
        font-weight: bold;
      }
      
      .header-section td img {
        margin-right: 10px;
        width: 40px;
      }
      
      .header-section td span {
        top: 10px;
      }
    </mj-style>

  </mj-head>

  <mj-body>

    {{!-- Header Section --}}
    <mj-section background-color="#B53836" padding="0" css-class="header-section">
      <mj-column>
        <mj-table>
            <tr>
            <td rowspan="2" width="45%" align="right">
                <img src="https://thkijq.dm.files.1drv.com/y4mIgU-dR1yb68DZw83z8h3fAq3jDs9m-f8aEtc_fKR2Lja-3eDK2S0WW7B-boxWaAXrmpXu2BUVUwSk68SP8GdWXdYMK5XreyAhQ82_NimA2ZvwvRxfnpve3yAoiuBeFbkw6NLh__TNT4tD-g5vjuwFXlodEdM5DLEigDEOuhCzQxPIz2ddhmJBK4Tpl0u8ezhNVMVGj4sP-nAKKMHb-KWVQ/circle_icons_document.png"/>
            </td>
            <td>
                <span>PDF2FDP</span>
            </td>
          </tr>
        </mj-table>
        <mj-text>
        </mj-text>
      </mj-column>
    </mj-section>

    {{!-- Title Section --}}
    <mj-section padding="20px 0" css-class="title-section">
      <mj-column>
        <mj-text align="center" font-family="Outfit, 'Google Sans'" font-size="32px" font-weight="bold">Is this you signing up?</mj-text>
      </mj-column>
    </mj-section>

    {{!-- Info Section --}}
    <mj-section padding="0" css-class="info-section">
      <mj-column>
        {{#with _request.body}}
            <mj-text align="center" font-size="16px" font-family="Outfit, 'Google Sans'" color="#4a4a4f">Username: {{default username 'Unknown'}}</mj-text>
        {{/with}}
        {{#with _request.locals.clientInfo}}
            <mj-text align="center" font-size="16px" font-family="Outfit, 'Google Sans'" color="#4a4a4f">Device: {{capitalize browser}} on {{capitalize platform}}</mj-text>
          {{#and this.city this.region}}
            <mj-text align="center" font-size="16px" font-family="Outfit, 'Google Sans'" color="#4a4a4f">Location: {{city}}, {{region}}, {{country}}</mj-text>
          {{else}}
            <mj-text align="center" font-size="16px" font-family="Outfit, 'Google Sans'" color="#4a4a4f">Location: Unknown</mj-text>
          {{/and}}
          <mj-text align="center" font-size="16px" font-family="Outfit, 'Google Sans'" color="#4a4a4f">IP Address: {{ipAddress}}</mj-text>
        {{/with}}
      </mj-column>
    </mj-section>

    {{!-- Code Section --}}
    <mj-section padding-top="20px">
      <mj-column>
        <mj-text align="center" font-size="18px" font-family="Source Sans Pro, 'Google Sans'">If yes, use this verification code:</mj-text>
        <mj-text align="center" font-size="35px" font-weight="bolder" letter-spacing="3px" padding="25px" font-family="Source Sans Pro, 'Google Sans'">{{getVerificationCode}}</mj-text>
        <mj-text align="center" font-size="18px" font-family="Source Sans Pro, 'Google Sans'">This code expires in 5 minutes.</mj-text>
      </mj-column>
    </mj-section>

    {{!-- Contact Section --}}
    <mj-section padding-bottom="20px">
      <mj-column>
        <mj-divider border-color="#4a4a4f" border-width="1px" border-style="dashed" padding-bottom="20px">
        </mj-divider>
        <mj-text align="center">
          For more infomation, contact us:
        </mj-text>
        <mj-social icon-size="30px" mode="vertical">
          <mj-social-element name="facebook" href="https://facebook.com">
            Facebook
          </mj-social-element>
          <mj-social-element name="github" href="https://github.com/phhuyhoang">
            GitHub
          </mj-social-element>
        </mj-social>
      </mj-column>
    </mj-section>

    {{!-- Footer Section --}}
    <mj-section background-color="#4a4a4f">
      <mj-column>
        <mj-text align="center" color="white" font-family="Source Sans Pro, 'Google Sans'">This is an automated system email, please do not reply.</mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
