<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <title>PDF2FDP - Pricing</title>
    <link rel="stylesheet" href="styles/aa75ad47dc23a18f5291.css">
    <script type="text/javascript" src="scripts/aa75ad47dc23a18f5291.js"></script>
</head>
<body>
    {{> header}}
    <div class="top-section wrapper row">
        <div class="top-section__content col-md-6">
            <h2>Free document converter online service</h2>
            <p>PDF2FDP is an online document converter. Unlike most other conversion sites, we mainly support converting from PDF to various image formats like SVG, PNG, JPEG, TIFF, etc. with the guarantee of both speed and quality.</p>
        </div>
        <div class="top-section__plans col-md-6">
        </div>
    </div>
    <div class="plan-section wrapper row">

        {{#each @root.card}}
        
            <div class="plan-card col-md-3h">
                <div class="plan-card__title" title="{{this.description}}">{{uppercase this.name}}</div>
                
                <div class="plan-card__pricing">
                    <span class="price-amount" data-base-price="{{this.price.value}}">
                        {{this.price.value}} {{this.price.currency}}
                    </span>
                    <span class="fixed-period" data-base-period="month">/ month</span>
                </div>

                <div class="plan-card__benefit">
                    <ul>
                        {{#each this.benefits}}
                        <li>
                            <a class="row" href="#explain__{{dashcase @key}}">
                                <i class="fa {{lookup @root.icon @key}}"></i>
                                <span class="benefit__key">{{lookup @root.alias @key}}</span>
                            </a>
                            <div class="row">
                                <strong class="benefit__value"
                                {{#if (hasOwn ../annotate @key)}}
                                    title="{{get @key ../annotate}}"
                                {{/if}}
                                >
                                    {{this}}
                                </strong>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>

                <div class="plan-card__bottom">
                    {{#if this.button.url}}
                        <a href="{{this.button.url}}">{{this.button.text}}</a>
                    {{else}}
                        <a href="/" class="default">{{this.button.text}}</a>
                    {{/if}}
                </div>
            </div>
        
        {{/each}}

    </div>

    <div class="explain-section wrapper row justify-content-around">

        {{#each @root.expl}}

            <div class="explaination-card col-md-5" id="explain__{{dashcase this.key}}">

                <div class="explaination-card__title">
                    <h4>{{lookup @root.alias this.key}}</h4>
                </div>

                <div class="explaination-card__content">
                    <p>{{this.content}}</p>
                </div>

            </div>

        {{/each}}

    </div>

    {{> footer}}
</body>
</html>
